
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import "~sweetalert2/dist/sweetalert2.css";

// Variables
@import "variables";

.HelpText {
	&.error {
		color: $danger-color;
	}
}
.mr-1{
	margin-right:5px;
}
.mr-10{
	margin-right:50px;
}